
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.uid == "AqTVL8VRTZT435pZudkObzMGsrR2"
      );
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // --- REGRAS PÚBLICAS ---
    
    match /admin/site/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /users/{userId}/avatar {
      allow read: if true;
      allow write: if isOwner(userId) || isAdmin();
    }

    match /organizations/{orgId}/{type} {
      // type can be 'avatar' or 'banner'
      allow read: if true;
      allow write: if isSignedIn() || isAdmin();
    }

    match /events/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(userId) || isAdmin();
    }

    match /ads/{orgId}/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn() || isAdmin();
    }

    // --- REGRAS PRIVADAS ---

    match /support/{userId}/{allPaths=**} {
      allow read: if isOwner(userId) || isAdmin();
      allow write: if isOwner(userId) || isAdmin();
    }

    match /payout_proofs/{orgId}/{allPaths=**} {
      allow read: if isAdmin() || isSignedIn();
      allow write: if isAdmin();
    }
    
    match /expenses/{userId}/{allPaths=**} {
      allow read, write: if isAdmin();
    }
  }
}
