rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Regra Padrão: Permite a leitura de qualquer arquivo por qualquer pessoa.
    // Isso é necessário para que as imagens do cardápio sejam públicas.
    match /{allPaths=**} {
      allow read;
    }

    // Regra de Escrita: Permite que apenas usuários autenticados
    // escrevam (façam upload) de arquivos. A nossa Ação de Servidor
    // já garante que o usuário está logado e salva o arquivo no caminho certo.
    match /menu_items/{orgId}/{fileName} {
      allow write: if request.auth != null;
    }

    // Upload de Configurações de Admin (logo, favicon, banners, etc)
    match /admin/site/{fileName} {
      allow write: if request.auth != null;
    }

    // Upload de Imagens de Eventos
    match /events/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Upload de Fotos de Perfil
    match /users/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Upload de Imagens de Categorias
    match /categories/{fileName} {
      allow write: if request.auth != null;
    }

    // Upload de Arquivos de Verificação
    match /verification/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Outras regras de escrita podem ser adicionadas aqui para outros módulos.
  }
}
