
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.uid == "AqTVL8VRTZT435pZudkObzMGsrR2" ||
        request.auth.token.admin == true
      );
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Regra Global de Leitura
    match /{allPaths=**} {
      allow read: if true;
    }

    // Pasta Administrativa
    match /admin/{allPaths=**} {
      allow write: if isAdmin();
    }

    // Usuários
    match /users/{userId}/{allPaths=**} {
      allow write: if isAdmin() || isOwner(userId);
    }

    // Organizações e Eventos
    match /organizations/{orgId}/{allPaths=**} {
      allow write: if isAdmin() || isSignedIn();
    }

    match /events/{eventId}/{allPaths=**} {
      allow write: if isAdmin() || isSignedIn();
    }
    
    match /ads/{allPaths=**} {
      allow write: if isAdmin() || isSignedIn();
    }
    
    match /support/{userId}/{allPaths=**} {
      allow write: if isAdmin() || isOwner(userId);
    }

    match /payout_proofs/{allPaths=**} {
      allow write: if isAdmin();
    }
  }
}
