rules_version = '2';
service firebase.storage {
  // REGRAS VIBY - Versão: 1.7.0 (Acesso Público Amplo para Debug)
  // Permitindo acesso total para resolver erros persistentes de storage/unauthorized
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
