
rules_version = '2';
service firebase.storage {
  match /b/viby/o {
    // REGRAS VIBY - Versão: 3.0.0
    
    function isSignedIn() {
      return request.auth != null;
    }

    // Todo o conteúdo do bucket viby é de leitura pública
    match /{allPaths=**} {
      allow read: if true;
    }

    // Escrita restrita
    match /site_assets/{allPaths=**} {
      allow write: if isSignedIn();
    }

    match /profiles/{userId}/{allPaths=**} {
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /events/{userId}/{allPaths=**} {
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /ads/{allPaths=**} {
      allow write: if isSignedIn();
    }
  }
}
